<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>new-ingredient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="centralized form">
        <mat-form-field>
            <input matInput [(ngModel)]="newIngredient.name" type="text" maxlength="35" placeholder="Nome">
            <mat-hint align="end"> {{newIngredient.name.length}} / 35</mat-hint>
        </mat-form-field>
        <div class="mid">
            <mat-form-field>
                <input matInput [(ngModel)]="newIngredient.weight" type="number" placeholder="Peso">
            </mat-form-field>
            <mat-form-field>
                <mat-select [(ngModel)]="newIngredient.measureUnit" placeholder="Unidade de medida" selected="">
                    <mat-option>Nenhum</mat-option>
                    <mat-option value="Kg">Quilograma</mat-option>
                    <mat-option value="g">Grama</mat-option>
                    <mat-option value="L">Litro</mat-option>
                    <mat-option value="ml">Mililitro</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button (click)="saveAndAddIngredient()" [disabled]="!newProduct.name || !newProduct.weight || !newProduct.measureUnit || validateIngredients(newIngredient, this.newList.products)" class="add">Adicionar Produto</button>
    </div>
</ion-content>
