.picture {
    width: 170px;
    height: 170px;
    img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 140px;
        height: 140px;
        padding: 5px;
        margin-left: 10px;
        border-radius: 150px;
    }
}

.camera-btn {
    position: absolute;
    margin-top: -32%;
    margin-left: 65%;
    mat-icon {
        color: gray;
    }
}

.container {
    width: 100%;
    height: 80%;
    margin-top: -45px;
    padding: 10px;
    background: #ffff;
    mat-form-field {
        width: 100%;
    }
    .mid {
        width: 50%!important;
    }
    .cat-btn {
        width: 60%!important;
        margin-left: 20%;
    }
    .new-cat {
        margin-top: 3px;
    }
    @media (min-width: 320px) {
        .new-cat {
            width: 72%!important;
        }
    }
    @media (min-width: 360px) {
        .new-cat {
            width: 75%!important;
        }
    }
    @media (min-width: 414px) {
        .new-cat {
            width: 79%!important;
        }
    }
    .btn-confirm {
        width: 60%;
        margin-left: 20%;
        margin-top: 10px;
        background: rgba(17, 219, 108, 0.87);
        color: white;
    }
}