<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [disabled]="!newProduct.name || !newProduct.categoryUID || !newProduct.weight || !newProduct.measureUnit || !newProduct.price || newProduct.quantity <= 0">
                <mat-icon slot="icon-only">checkmark</mat-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Novo Produto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="picture centralized">
        <img src="https://cdn.dribbble.com/users/10562/screenshots/4766707/nationalcameraday_dribbble.jpg">
        <button mat-icon-button class="camera-btn"><mat-icon>camera_alt</mat-icon></button>
    </div>
    <div class="container">
        <mat-form-field>
            <input matInput [(ngModel)]="newProduct.name" maxlength="45" placeholder="Nome">
            <mat-hint align="end">{{newProduct.name.length}} / 45</mat-hint>
        </mat-form-field>
        <mat-form-field class="mid">
            <input matInput placeholder="Peso" type="number" [(ngModel)]="newProduct.weight">
        </mat-form-field>
        <mat-form-field class="mid">
            <mat-select [(ngModel)]="newProduct.measureUnit" placeholder="Unidade de medida" selected="">
                <mat-option value="Kg">Quilograma</mat-option>
                <mat-option value="g">Grama</mat-option>
                <mat-option value="L">Litro</mat-option>
                <mat-option value="ml">Mililitro</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade" type="number" [(ngModel)]="newProduct.quantity">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço" type="number" [(ngModel)]="newProduct.price">
            <span matPrefix>R$&nbsp;</span>
        </mat-form-field>
        <ion-item-sliding>
            <ion-item no-padding lines="none">
                <mat-form-field>
                    <mat-select [(ngModel)]="newProduct.categoryUID" placeholder="Categoria do produto">
                        <mat-option *ngFor="let category of categories" [value]="category.uid">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="newCategoryPage()" style="background-color: white;">
                    <button mat-icon-button style="color: rgb(8, 95, 136);" slot="end">
                                <mat-icon>add</mat-icon>
                        </button>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </div>
</ion-content>