<ion-header>
    <ion-toolbar>
        <ion-title text-center>Produtos</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink='new-product'>
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (input)="search($event)" placeholder="buscar"></ion-searchbar>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let product of products">
            <ion-card class="centralized">
                <div class="image"><img src="{{product.image}}"></div>
                <div class="card-content">
                    <ion-item lines="none">
                        <button mat-icon-button slot="end" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="details(product)">
                                <mat-icon>info</mat-icon>
                                <span>Detalhes</span>
                            </button>
                            <button mat-menu-item routerLink='edit-product'>
                                <mat-icon>create</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="remove(product.uid)">
                                <mat-icon>delete</mat-icon>
                                <span>Remover</span>
                            </button>
                        </mat-menu>
                        <ion-label>
                            {{product.name}}
                            <p>Categoria: {{product.category}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <p>R$ {{product.price}}</p>
                            <p>Quantidade: {{product.quantity}} Un</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>