<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Detalhes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="{{product.image}}"></ion-img>
        <ion-card-header>
            <ion-card-title>{{product.name}}</ion-card-title>
            <ion-card-subtitle>R$ {{product.price}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>{{product.quantity}} Unidades</p>
            <p>Peso: {{product.weight}}{{product.measureUnit}}</p>
        </ion-card-content>
    </ion-card>
    <!-- <div class="picture centralized"><img src="{{product.image}}"></div>
    <div class="container">
        <mat-card class="centralized">
            <ion-card-title text-center>{{product.name}}</ion-card-title>
            <ion-label>
                <h2>Categoria: {{product.category}}</h2>
            </ion-label>
            <ion-label>
                <h2>Preço: R$ {{product.price}}</h2>
            </ion-label>
            <ion-label>
                <h2>Quantidade: {{product.quantity}}</h2>
            </ion-label>
            <ion-label>
                <h2>Peso: {{product.weight}}{{product.measureUnit}}</h2>
            </ion-label>
        </mat-card>
    </div> -->
</ion-content>