<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="shopping-lists">
                <mat-icon><img src="../../assets/tabs/shopping-list.png"></mat-icon>
                <ion-label>Listas</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="recipes">
                <mat-icon><img src="../../assets/tabs/recipes.png"></mat-icon>
                <ion-label>Receitas</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="cart">
                <mat-icon><img src="../../assets/tabs/cart.png"></mat-icon>
                <ion-label>Carrinho</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="historic">
                <mat-icon><img src="../../assets/tabs/historic.png"></mat-icon>
                <ion-label>Histórico</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>