.info {
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

.percentage-info {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    .percentage {
        margin-left: 17%;
        margin-top: -74px;
        font-family: 'Ranga', cursive;
        font-size: 35px;
        color: rgb(28, 28, 212);
    }
}