<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title text-center class="title f-lobster fc-light">Categorias</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink='new-category'>
                <ion-icon slot="icon-only" name="add" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loading">
        <ion-list>
            <ion-item *ngFor="let item of [0, 1, 2, 4, 5]">
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="!loading">
        <div @load class="no-data" *ngIf="categories.length == 0">
            <ion-img src="../../../assets/img/no-categories.jpg" class="no-data-image"></ion-img>
            <ion-label>
                <p text-center class="f-lobster">Você não possuí nenhuma categoria.</p>
            </ion-label>
        </div>
        <div *ngIf="categories.length > 0">
            <ion-list>
                <ion-item *ngFor="let category of categories">
                    <ion-thumbnail slot="start">
                        <img src="../../../assets/icon/{{category.icon}}.png">
                    </ion-thumbnail>
                    <button mat-icon-button slot="end" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit(category)">
                                <mat-icon>create</mat-icon>
                                <span>Editar</span>
                            </button>
                        <button mat-menu-item (click)="remove(category.uid)">
                                <mat-icon>delete</mat-icon>
                                <span>Remover</span>
                            </button>
                    </mat-menu>
                    <ion-label>
                        <p>
                            {{category.name}}
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>