<ion-header>
    <ion-toolbar>
        <ion-title text-center>Minhas receitas</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink='new-recipe'>
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="no-recipe" *ngIf="!recipes">
        <ion-img src="../../../assets/img/recipes.jpg" class="image"></ion-img>
        <div class="content centralized" padding>
            <p>Você não possuí nenhuma receita.</p>
            <h4>Crie uma nova receita agora mesmo.</h4>
            <p>As listas de compras servem para se organizar na hora das compras, ela ajuda a não esquecer nenhum item, a controlar os impulsos de consumos desnecessários, além de garantir economia e satisfação</p>
        </div>
    </div>
</ion-content>