.mat-icon-button {
    margin-bottom: 100%;
    position: absolute;
    margin-left: 79%;
}

.image {
    width: 35%;
    height: 100px;
    float: left;
    img {
        height: 100px;
    }
}

.card-content {
    width: 65%;
    height: 100px;
    float: left;
}