<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="save()" [disabled]="!newCategory.name || !newCategory.icon">
                <mat-icon slot="icon-only">checkmark</mat-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Nova Categoria</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-card class="container">
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="newCategory.name" maxlength="35" placeholder="Nome">
            <mat-hint align="end">{{newCategory.name.length}} / 35</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newCategory.description" maxlength="150" placeholder="Descrição">
            <mat-hint align="start"><strong>Opcional</strong></mat-hint>
            <mat-hint align="end">{{newCategory.description.length}} / 150</mat-hint>
        </mat-form-field>
        <div style="margin-top: 5px;">
            <ion-label>Selecionar icone: </ion-label>
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let icon of icons">
                    <mat-icon (click)="setIcon(icon)"><img src="../../assets/icon/{{icon}}.png"></mat-icon>
                </ion-slide>
            </ion-slides>
        </div>
    </mat-card>
    <div *ngIf="newCategory.icon">
        <mat-card class="selected-icon">
            <mat-icon>
                <img src="../../assets/icon/{{newCategory.icon}}.png">
            </mat-icon>
        </mat-card>
    </div>
</ion-content>