<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title text-center>Nova lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Nome da Lista</ng-template>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="newList.name" maxlength="35" placeholder="Nome" required>
                <mat-hint align="end"> {{newList.name.length}} / 35</mat-hint>
            </mat-form-field>
            <div class="stepperBtn">
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Adicionar produtos</ng-template>
            <button mat-raised-button (click)="selectProduct()" class="choiceOption" [disabled]="!products || products.length == 0">Escolher</button>
            <button mat-raised-button (click)="registerProduct()" class="newOption">Novo</button>
            <div *ngIf="selectOption" class="options">
                <mat-form-field>
                    <mat-select [(ngModel)]="newProduct" placeholder="Escolher Produto:" required>
                        <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="addProduct(newProduct)" [disabled]="newProduct.name == ''">
                    Adicionar
                </button>
            </div>
            <div *ngIf="newOption" class="options">
                <mat-form-field>
                    <input matInput [(ngModel)]="newProduct.name" type="text" maxlength="35" placeholder="Nome">
                    <mat-hint align="end"> {{newProduct.name.length}} / 35</mat-hint>
                </mat-form-field>
                <div class="mid">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newProduct.weight" type="number" placeholder="Peso">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select [(ngModel)]="newProduct.measureUnit" placeholder="Unidade de medida" selected="">
                            <mat-option>Nenhum</mat-option>
                            <mat-option value="Kg">Quilograma</mat-option>
                            <mat-option value="g">Grama</mat-option>
                            <mat-option value="L">Litro</mat-option>
                            <mat-option value="ml">Mililitro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-raised-button (click)="addProduct(newProduct)" [disabled]="newProduct.name == ''" class="add">Adicionar Produto</button>
            </div>
            <div class="stepperBtn">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Salvar lista</ng-template>
            <ion-item lines="none" no-padding>
                <ion-label text-center *ngIf="newList.products.length > 0">Meus Produtos</ion-label>
                <ion-label text-center *ngIf="newList.products.length == 0">Lista vazia</ion-label>
            </ion-item>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let product of newList.products">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item expand="full" no-padding>
                                    <ion-label lines="none" no-padding>{{product.name}}
                                    </ion-label>
                                    <button mat-icon-button (click)="setQuantity(product, true)"><mat-icon>add</mat-icon></button> {{product.quantity}}
                                    <button mat-icon-button (click)="setQuantity(product, false)"><mat-icon>remove</mat-icon></button>
                                    <button mat-icon-button (click)="deleteItem(product)"><mat-icon>delete</mat-icon></button>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </mat-list-item>
            </mat-list>
            <div class="stepperBtn">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button (click)="saveList()" (click)="stepper.reset()" [disabled]="newList.name == '' || newList.products.length == 0">Salvar Lista</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</ion-content>