mat-form-field {
    width: 100%;
}

.mid {
    mat-form-field {
        width: 50%;
    }
}

.add {
    background: #26bb70c2;
    color: rgb(255, 255, 255);
    width: 100%;
}

.choiceOption {
    margin-top: 10px;
    width: 40%;
    margin-left: 5%;
    background: #32beb7b7;
    color: #fff;
}

.newOption {
    margin-top: 10px;
    width: 40%;
    margin-left: 10%;
    background: #32be71bb;
    color: #fff;
}

.options {
    margin-top: 10px;
}

.stepperBtn {
    margin-top: 15px;
}

.list-items {
    mat-list-item {
        padding: 0!important;
    }
}