<ion-header>
    <ion-toolbar>
        <ion-title text-center>Minhas listas</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['new-list']">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="loading">
        <ion-card *ngFor="let item of [0, 1, 2]">
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-card>
        <!-- <mat-spinner class="centralized" style="margin-top: 45%;"></mat-spinner> -->
    </div>
    <div *ngIf="!loading">
        <div class="no-lists" *ngIf="lists.length == 0" @load>
            <ion-img src="../../../assets/img/shopping.png" class="image"></ion-img>
            <div class="content centralized" padding>
                <p>Você não possuí nenhuma lista.</p>
                <h4>Crie uma nova lista agora mesmo.</h4>
                <p>As listas de compras servem para se organizar na hora das compras, ela ajuda a não esquecer nenhum item, a controlar os impulsos de consumos desnecessários, além de garantir economia e satisfação</p>
            </div>
        </div>
        <div *ngIf="lists.length > 0" @load>
            <ion-card *ngFor="let list of lists">
                <ion-item lines="none">
                    <ion-icon color="danger" name="heart" slot="end" *ngIf="list.favorite" (click)="setFavorite(list)"></ion-icon>
                    <ion-icon style="color: #da090960;" name="heart" slot="end" *ngIf="!list.favorite " (click)="setFavorite(list)"></ion-icon>
                    <button mat-icon-button slot="end" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="goTo('details', list)">
                            <mat-icon>visibility</mat-icon>
                            <span>Detalhes</span>
                        </button>
                        <button mat-menu-item (click)="goTo('edit', list)">
                            <mat-icon>create</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="remove(list.uid)">
                            <mat-icon>delete</mat-icon>
                            <span>Remover</span>
                        </button>
                    </mat-menu>
                    <ion-label>
                        {{ list.name }}<br>
                        <p class="icon">
                            <mat-icon>shopping_basket</mat-icon>
                        </p>
                        <p class="products">
                            {{getQuantity(list)}} {{getQuantity(list) === 1 ? 'Produto' : 'Produtos'}}
                        </p>
                    </ion-label>
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>