<ion-header>
    <mat-toolbar class="bc-light-blue">
        <ion-title text-center class="title fc-light">Minhas listas</ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['new-list']" color="light">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </mat-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="loading">
        <mat-spinner class="centralized spinner"></mat-spinner>
    </div>
    <div *ngIf="!loading">
        <div @load class="no-lists" *ngIf="lists.length == 0">
            <ion-img src="../../../assets/img/shopping.png" class="image"></ion-img>
            <div class="content centralized" padding>
                <ion-label text-center>
                    <p>Você não possuí nenhuma lista.</p>
                    <h4>Crie uma nova lista agora mesmo.</h4>
                </ion-label>
            </div>
        </div>
        <div *ngIf="lists.length > 0">
            <ion-card @load *ngFor="let list of lists">
                <ion-item lines="none">
                    <ion-icon color="danger" name="heart" slot="end" *ngIf="list.favorite" (click)="setFavorite(list)"></ion-icon>
                    <ion-icon style="color: #da090960;" name="heart" slot="end" *ngIf="!list.favorite " (click)="setFavorite(list)"></ion-icon>
                    <button mat-icon-button slot="end" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="goTo('details', list)">
                            <mat-icon>visibility</mat-icon>
                            <span>Detalhes</span>
                        </button>
                        <button mat-menu-item (click)="goTo('edit', list)">
                            <mat-icon>create</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="remove(list.uid)">
                            <mat-icon>delete</mat-icon>
                            <span>Remover</span>
                        </button>
                    </mat-menu>
                    <ion-label>
                        {{ list.name }}<br>
                        <p class="icon">
                            <mat-icon>shopping_basket</mat-icon>
                        </p>
                        <p class="products">
                            {{getQuantity(list)}} {{getQuantity(list) === 1 ? 'Produto' : 'Produtos'}}
                        </p>
                    </ion-label>
                </ion-item>
            </ion-card>
        </div>
    </div>
</ion-content>